
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial" !important;
}

.reg-form {
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    width: 330px;
    padding: 25px;
    margin: 80px auto;
    background-color: #ffffff;
}

.reg-form form {
    display: flex;
    flex-direction: column;
}

form small {
    font-size: 11px;
    font-family: "Roboto Medium";
}

form input[type=text], form input[type=password] {
    margin-bottom: 12px;
    outline-color: #d1d1d1;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 8px;
    font-size: 13px;
    background-color: #f1f1f1;
}

.reg-btn {
    padding: 11px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #0f3d6c;
    color: #ffffff;
}

.reg-btn:hover {
    cursor: pointer;
    background-color: #1b5a99;
    transition: 0.4s;
}

.reg-btn:active {
    background-color: #0c2e50;
}

.lblView {
    display: flex;
    font-size: 11px;
    line-height: 25px;
}

.bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/lnu.jpg");
    z-index: -1;
}

.footer {
    background-color: #0c2e50;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    font-size: 13px;
}

